.confirmPasswordForm .modal-content {
    background-color: #D6E4FF;
    margin-top: 10vh;
}

.confirmPasswordForm .modal-header {
    display: block;
}

.confirmPasswordForm .modal-footer {
    display: block;
    position: relative;
    flex: 1 1 auto;
    margin-top: 100px;
}

.confirmPasswordForm .form-control {
    background-color: #E4ECFC;
    width: 90%;

}

.confirmPasswordForm .btn-primary {
    width: 90%;
    background-color: #376EDA;
}

.confirmPasswordForm .nav-link {
    display: flexbox;
    font-weight: 400;
    line-height: 80%;
    color: #90939a;
}

.confirmPasswordForm .authInput {
    display: flex;
    justify-content: center;
}

.helpText {
    width: 90%;
}