.editPasswordForm .modal-content {
    background-color: #D6E4FF;
    margin-top: 10vh;
}

.editPasswordForm .modal-header {
    display: block;
}

.editPasswordForm .modal-footer {
    display: block;
    position: relative;
    flex: 1 1 auto;
    margin-top: 50px;
}

.editPasswordForm .form-control {
    background-color: #E4ECFC;
    width: 90%;
}

.editPasswordForm .btn-primary {
    width: 90%;
    background-color: #376EDA;
}

.editPasswordForm .authInput {
    display: flex;
    justify-content: center;
}