.successRegistrForm .modal-content {
    background-color: #D6E4FF;
    margin-top: 10vh;
}

.successRegistrForm .modal-header {
    display: block;
}

.successRegistrForm .modal-footer {
    display: block;
    position: relative;
    flex: 1 1 auto;
    margin-top: 50px;
}

.successRegistrForm .btn-primary {
    width: 80%;
    background-color: #376EDA;
}